/MyEolympProblems/target/
/CollectionsAPI/target/
/AppInThread/target/
/FileUtil/target/
/MyAlgorithmProblems/target/
/MyGenerics/target/
/MyTcpProject/Client/target/
/MyTcpProject/Server/target/
/StreamAndLambdaExpressions/target/
/.idea/
/TCPServer/
/TCPClient/